body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(215, 215, 215, 1);
  -webkit-box-shadow:2px 2px 2px rgba(215, 215, 215, 1);
  box-shadow:2px 2px 2px rgba(215, 215, 215, 1);
}
#u1 {
  position:absolute;
  left:154px;
  top:223px;
  width:613px;
  height:293px;
}
#u2 {
  position:absolute;
  left:2px;
  top:138px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 0, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:154px;
  top:184px;
  width:613px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:609px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:185px;
  top:238px;
  width:558px;
  height:213px;
}
#u6 {
  position:absolute;
  left:2px;
  top:98px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:202px;
  top:246px;
  width:524px;
  height:195px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:195px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:137px;
}
#u8 {
  position:absolute;
  left:0px;
  top:29px;
  width:166px;
  height:137px;
}
#u9 {
  position:absolute;
  left:2px;
  top:60px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:80px;
}
#u10 {
  position:absolute;
  left:232px;
  top:46px;
  width:214px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u12 {
  position:absolute;
  left:205px;
  top:146px;
  width:290px;
  height:20px;
  color:#FF3300;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14 {
  position:absolute;
  left:485px;
  top:84px;
  width:27px;
  height:27px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u16 {
  position:absolute;
  left:170px;
  top:56px;
  width:15px;
  height:20px;
  font-size:14px;
  color:#FF3300;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u18 {
  position:absolute;
  left:195px;
  top:0px;
  width:103px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u7_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:195px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u20 {
  position:absolute;
  left:0px;
  top:85px;
  width:27px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:119px;
}
#u22 {
  position:absolute;
  left:56px;
  top:38px;
  width:166px;
  height:119px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u24 {
  position:absolute;
  left:222px;
  top:51px;
  width:15px;
  height:20px;
  font-size:14px;
  color:#FF3300;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:113px;
}
#u26 {
  position:absolute;
  left:267px;
  top:38px;
  width:204px;
  height:113px;
}
#u27 {
  position:absolute;
  left:2px;
  top:48px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u28 {
  position:absolute;
  left:267px;
  top:161px;
  width:228px;
  height:20px;
  color:#FF3300;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u30 {
  position:absolute;
  left:211px;
  top:0px;
  width:103px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 2px 2px rgba(215, 215, 215, 0.807843137254902);
  -webkit-box-shadow:2px 2px 2px rgba(215, 215, 215, 0.807843137254902);
  box-shadow:2px 2px 2px rgba(215, 215, 215, 0.807843137254902);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:404px;
  top:469px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
