body {
  margin:0px;
  background-color:rgba(240, 243, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u958 {
  position:absolute;
  left:90px;
  top:21px;
  width:68px;
  height:68px;
}
#u959 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:1161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
  -webkit-box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
  box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
}
#u960 {
  position:absolute;
  left:88px;
  top:98px;
  width:1150px;
  height:1161px;
}
#u961 {
  position:absolute;
  left:2px;
  top:572px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u962 {
  position:absolute;
  left:1075px;
  top:44px;
  width:22px;
  height:22px;
}
#u963 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u964 {
  position:absolute;
  left:1178px;
  top:30px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#515151;
}
#u966 {
  position:absolute;
  left:206px;
  top:41px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u968 {
  position:absolute;
  left:290px;
  top:130px;
  width:9px;
  height:9px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u970 {
  position:absolute;
  left:207px;
  top:129px;
  width:9px;
  height:9px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u972 {
  position:absolute;
  left:226px;
  top:124px;
  width:57px;
  height:20px;
  font-size:14px;
  color:rgba(86, 146, 240, 0.6);
}
#u972_img.mouseOver {
}
#u972.mouseOver {
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u974 {
  position:absolute;
  left:144px;
  top:124px;
  width:57px;
  height:20px;
  font-size:14px;
  color:rgba(86, 146, 240, 0.6);
}
#u974_img.mouseOver {
}
#u974.mouseOver {
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u976 {
  position:absolute;
  left:90px;
  top:168px;
  width:1148px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5692F0;
}
#u978 {
  position:absolute;
  left:407px;
  top:124px;
  width:122px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5692F0;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u980 {
  position:absolute;
  left:388px;
  top:129px;
  width:9px;
  height:9px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u982 {
  position:absolute;
  left:307px;
  top:124px;
  width:71px;
  height:20px;
  font-size:14px;
  color:rgba(86, 146, 240, 0.6);
}
#u982_img.mouseOver {
}
#u982.mouseOver {
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u984 {
  position:absolute;
  left:144px;
  top:187px;
  width:368px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u986 {
  position:absolute;
  left:144px;
  top:240px;
  width:161px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:2px;
}
#u988 {
  position:absolute;
  left:144px;
  top:274px;
  width:812px;
  height:1px;
}
#u989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:2px;
}
#u990 {
  position:absolute;
  left:144px;
  top:920px;
  width:812px;
  height:1px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:175px;
}
#u992 {
  position:absolute;
  left:409px;
  top:324px;
  width:282px;
  height:175px;
}
#u993 {
  position:absolute;
  left:2px;
  top:80px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u994 {
  position:absolute;
  left:473px;
  top:956px;
  width:181px;
  height:25px;
  font-size:18px;
  color:#515151;
  text-align:center;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u996 {
  position:absolute;
  left:472px;
  top:1004px;
}
#u996_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u996_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u999 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:16px;
  top:4px;
  width:20px;
  height:20px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u996_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1005 {
  position:absolute;
  left:16px;
  top:4px;
  width:20px;
  height:20px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u996_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1010 {
  position:absolute;
  left:16px;
  top:4px;
  width:20px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:571px;
  top:1004px;
}
#u1012_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1012_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5692F0;
}
#u1015 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1016 {
  position:absolute;
  left:19px;
  top:8px;
  width:12px;
  height:12px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1012_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1021 {
  position:absolute;
  left:19px;
  top:8px;
  width:12px;
  height:12px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1012_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1025 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1026 {
  position:absolute;
  left:19px;
  top:8px;
  width:12px;
  height:12px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u1029 {
  position:absolute;
  left:766px;
  top:1004px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:782px;
  top:1008px;
  width:20px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u1034 {
  position:absolute;
  left:865px;
  top:1004px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1035 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1036 {
  position:absolute;
  left:884px;
  top:1012px;
  width:12px;
  height:12px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:111px;
  height:21px;
}
#u1038p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:103px;
  height:1px;
}
#u1038p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:113px;
  height:21px;
}
#u1038p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1038p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1038p002 {
  position:absolute;
  left:86px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1038p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1038.compound {
  width:0px;
  height:0px;
}
#u1038 {
  position:absolute;
  left:655px;
  top:1018px;
  width:101px;
  height:1px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u1040 {
  position:absolute;
  left:689px;
  top:998px;
  width:33px;
  height:15px;
  color:#6B6B6B;
  text-align:center;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
}
#u1042 {
  position:absolute;
  left:454px;
  top:1062px;
  width:212px;
  height:17px;
  font-size:12px;
  color:#6B6B6B;
  text-align:center;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:308px;
}
#u1044 {
  position:absolute;
  left:188px;
  top:563px;
  width:721px;
  height:308px;
  color:#5E5E5E;
  line-height:22px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:484px;
  top:1151px;
  width:159px;
  height:20px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u1048 {
  position:absolute;
  left:183px;
  top:36px;
  width:1px;
  height:36px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1050 {
  position:absolute;
  left:1129px;
  top:46px;
  width:18px;
  height:18px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1053 {
  position:absolute;
  left:1286px;
  top:1106px;
  width:51px;
  height:51px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1055 {
  position:absolute;
  left:1287px;
  top:1167px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1057 {
  position:absolute;
  left:990px;
  top:196px;
  width:113px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1059 {
  position:absolute;
  left:990px;
  top:246px;
  width:200px;
  height:50px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1059.mouseOver {
}
#u1059_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1059.selected {
}
#u1060 {
  position:absolute;
  left:12px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1061 {
  position:absolute;
  left:990px;
  top:317px;
  width:200px;
  height:50px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1061.mouseOver {
}
#u1061_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1061.selected {
}
#u1062 {
  position:absolute;
  left:12px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1063 {
  position:absolute;
  left:990px;
  top:386px;
  width:200px;
  height:50px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1063_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1063.mouseOver {
}
#u1063_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1063.selected {
}
#u1064 {
  position:absolute;
  left:12px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1065 {
  position:absolute;
  left:990px;
  top:455px;
  width:200px;
  height:109px;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1065_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:109px;
  background:inherit;
  background-color:rgba(86, 146, 240, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1065.mouseOver {
}
#u1065_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:109px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
  line-height:22px;
}
#u1065.selected {
}
#u1066 {
  position:absolute;
  left:12px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:2px;
}
#u1067 {
  position:absolute;
  left:144px;
  top:1114px;
  width:812px;
  height:1px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
