body {
  margin:0px;
  background-color:rgba(240, 243, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1056px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1056px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:520px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:57px;
  background:inherit;
  background-color:rgba(246, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1772 {
  position:absolute;
  left:208px;
  top:57px;
  width:1186px;
  height:57px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:20px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#C1CFD7;
}
#u1774 {
  position:absolute;
  left:50px;
  top:13px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#C1CFD7;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(17, 30, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1776 {
  position:absolute;
  left:0px;
  top:294px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1777 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1778 {
  position:absolute;
  left:0px;
  top:384px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1779 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1780 {
  position:absolute;
  left:0px;
  top:339px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1781 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1782 {
  position:absolute;
  left:0px;
  top:204px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1783 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1784 {
  position:absolute;
  left:0px;
  top:159px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1785 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1786 {
  position:absolute;
  left:0px;
  top:114px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1787 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1788 {
  position:absolute;
  left:0px;
  top:69px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1789 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
  -webkit-box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
  box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
}
#u1790 {
  position:absolute;
  left:208px;
  top:0px;
  width:1186px;
  height:57px;
}
#u1791 {
  position:absolute;
  left:2px;
  top:20px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1792 {
  position:absolute;
  left:0px;
  top:250px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u1793 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u1794 {
  position:absolute;
  left:246px;
  top:145px;
  width:1122px;
  height:325px;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:47px;
}
#u1795 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:47px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1796 {
  position:absolute;
  left:20px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:47px;
}
#u1797 {
  position:absolute;
  left:66px;
  top:0px;
  width:259px;
  height:47px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1798 {
  position:absolute;
  left:20px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:47px;
}
#u1799 {
  position:absolute;
  left:325px;
  top:0px;
  width:103px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1800 {
  position:absolute;
  left:20px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u1801 {
  position:absolute;
  left:428px;
  top:0px;
  width:140px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1802 {
  position:absolute;
  left:20px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:47px;
}
#u1803 {
  position:absolute;
  left:568px;
  top:0px;
  width:94px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1804 {
  position:absolute;
  left:20px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u1805 {
  position:absolute;
  left:662px;
  top:0px;
  width:164px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1806 {
  position:absolute;
  left:20px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u1807 {
  position:absolute;
  left:826px;
  top:0px;
  width:179px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1808 {
  position:absolute;
  left:20px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:47px;
}
#u1809 {
  position:absolute;
  left:1005px;
  top:0px;
  width:112px;
  height:47px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1810 {
  position:absolute;
  left:20px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:82px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:47px;
  width:66px;
  height:82px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1812 {
  position:absolute;
  left:20px;
  top:28px;
  width:26px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:82px;
}
#u1813 {
  position:absolute;
  left:66px;
  top:47px;
  width:259px;
  height:82px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1814 {
  position:absolute;
  left:20px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:82px;
}
#u1815 {
  position:absolute;
  left:325px;
  top:47px;
  width:103px;
  height:82px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1816 {
  position:absolute;
  left:20px;
  top:28px;
  width:63px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:82px;
}
#u1817 {
  position:absolute;
  left:428px;
  top:47px;
  width:140px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1818 {
  position:absolute;
  left:20px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:82px;
}
#u1819 {
  position:absolute;
  left:568px;
  top:47px;
  width:94px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#33CC00;
  text-align:left;
  line-height:26px;
}
#u1820 {
  position:absolute;
  left:20px;
  top:28px;
  width:54px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:82px;
}
#u1821 {
  position:absolute;
  left:662px;
  top:47px;
  width:164px;
  height:82px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1822 {
  position:absolute;
  left:20px;
  top:28px;
  width:124px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:82px;
}
#u1823 {
  position:absolute;
  left:826px;
  top:47px;
  width:179px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1824 {
  position:absolute;
  left:20px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:82px;
}
#u1825 {
  position:absolute;
  left:1005px;
  top:47px;
  width:112px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#5692F0;
  text-align:left;
  line-height:26px;
}
#u1826 {
  position:absolute;
  left:20px;
  top:28px;
  width:72px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:129px;
  width:66px;
  height:49px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1828 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:49px;
}
#u1829 {
  position:absolute;
  left:66px;
  top:129px;
  width:259px;
  height:49px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1830 {
  position:absolute;
  left:20px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:49px;
}
#u1831 {
  position:absolute;
  left:325px;
  top:129px;
  width:103px;
  height:49px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1832 {
  position:absolute;
  left:20px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
}
#u1833 {
  position:absolute;
  left:428px;
  top:129px;
  width:140px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1834 {
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u1835 {
  position:absolute;
  left:568px;
  top:129px;
  width:94px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
  text-align:left;
  line-height:26px;
}
#u1836 {
  position:absolute;
  left:20px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:49px;
}
#u1837 {
  position:absolute;
  left:662px;
  top:129px;
  width:164px;
  height:49px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1838 {
  position:absolute;
  left:20px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:49px;
}
#u1839 {
  position:absolute;
  left:826px;
  top:129px;
  width:179px;
  height:49px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1840 {
  position:absolute;
  left:20px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:49px;
}
#u1841 {
  position:absolute;
  left:1005px;
  top:129px;
  width:112px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#5692F0;
  text-align:left;
  line-height:26px;
}
#u1842 {
  position:absolute;
  left:20px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:47px;
}
#u1843 {
  position:absolute;
  left:0px;
  top:178px;
  width:66px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1844 {
  position:absolute;
  left:20px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:47px;
}
#u1845 {
  position:absolute;
  left:66px;
  top:178px;
  width:259px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1846 {
  position:absolute;
  left:20px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:47px;
}
#u1847 {
  position:absolute;
  left:325px;
  top:178px;
  width:103px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1848 {
  position:absolute;
  left:20px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u1849 {
  position:absolute;
  left:428px;
  top:178px;
  width:140px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1850 {
  position:absolute;
  left:20px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:47px;
}
#u1851 {
  position:absolute;
  left:568px;
  top:178px;
  width:94px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
  text-align:left;
  line-height:26px;
}
#u1852 {
  position:absolute;
  left:20px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u1853 {
  position:absolute;
  left:662px;
  top:178px;
  width:164px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1854 {
  position:absolute;
  left:20px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u1855 {
  position:absolute;
  left:826px;
  top:178px;
  width:179px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1856 {
  position:absolute;
  left:20px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:47px;
}
#u1857 {
  position:absolute;
  left:1005px;
  top:178px;
  width:112px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#5692F0;
  text-align:left;
  line-height:26px;
}
#u1858 {
  position:absolute;
  left:20px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:225px;
  width:66px;
  height:48px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1860 {
  position:absolute;
  left:20px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:48px;
}
#u1861 {
  position:absolute;
  left:66px;
  top:225px;
  width:259px;
  height:48px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1862 {
  position:absolute;
  left:20px;
  top:11px;
  width:219px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
}
#u1863 {
  position:absolute;
  left:325px;
  top:225px;
  width:103px;
  height:48px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1864 {
  position:absolute;
  left:20px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u1865 {
  position:absolute;
  left:428px;
  top:225px;
  width:140px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1866 {
  position:absolute;
  left:20px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1867 {
  position:absolute;
  left:568px;
  top:225px;
  width:94px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
  text-align:left;
  line-height:26px;
}
#u1868 {
  position:absolute;
  left:20px;
  top:11px;
  width:54px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:48px;
}
#u1869 {
  position:absolute;
  left:662px;
  top:225px;
  width:164px;
  height:48px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1870 {
  position:absolute;
  left:20px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
}
#u1871 {
  position:absolute;
  left:826px;
  top:225px;
  width:179px;
  height:48px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1872 {
  position:absolute;
  left:20px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:48px;
}
#u1873 {
  position:absolute;
  left:1005px;
  top:225px;
  width:112px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#5692F0;
  text-align:left;
  line-height:26px;
}
#u1874 {
  position:absolute;
  left:20px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:47px;
}
#u1875 {
  position:absolute;
  left:0px;
  top:273px;
  width:66px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1876 {
  position:absolute;
  left:20px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:47px;
}
#u1877 {
  position:absolute;
  left:66px;
  top:273px;
  width:259px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1878 {
  position:absolute;
  left:20px;
  top:16px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:47px;
}
#u1879 {
  position:absolute;
  left:325px;
  top:273px;
  width:103px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1880 {
  position:absolute;
  left:20px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u1881 {
  position:absolute;
  left:428px;
  top:273px;
  width:140px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1882 {
  position:absolute;
  left:20px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:47px;
}
#u1883 {
  position:absolute;
  left:568px;
  top:273px;
  width:94px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1884 {
  position:absolute;
  left:20px;
  top:16px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u1885 {
  position:absolute;
  left:662px;
  top:273px;
  width:164px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1886 {
  position:absolute;
  left:20px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:47px;
}
#u1887 {
  position:absolute;
  left:826px;
  top:273px;
  width:179px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1888 {
  position:absolute;
  left:20px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:47px;
}
#u1889 {
  position:absolute;
  left:1005px;
  top:273px;
  width:112px;
  height:47px;
  color:#515151;
  text-align:left;
  line-height:26px;
}
#u1890 {
  position:absolute;
  left:20px;
  top:16px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1891 {
  position:absolute;
  left:625px;
  top:162px;
  width:14px;
  height:12px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1893 {
  position:absolute;
  left:868px;
  top:162px;
  width:14px;
  height:12px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u1895 {
  position:absolute;
  left:992px;
  top:169px;
  width:8px;
  height:5px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u1897 {
  position:absolute;
  left:992px;
  top:162px;
  width:8px;
  height:5px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  color:#5E5E5E;
}
#u1899 {
  position:absolute;
  left:579px;
  top:503px;
  width:146px;
  height:125px;
  color:#5E5E5E;
}
#u1900 {
  position:absolute;
  left:2px;
  top:54px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  color:#6B6B6B;
}
#u1901 {
  position:absolute;
  left:899px;
  top:503px;
  width:146px;
  height:95px;
  color:#6B6B6B;
}
#u1902 {
  position:absolute;
  left:2px;
  top:40px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903 {
  position:absolute;
  left:605px;
  top:524px;
  width:100px;
  height:16px;
  font-size:12px;
  color:#5E5E5E;
}
#u1904 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1903_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1905 {
  position:absolute;
  left:605px;
  top:558px;
  width:100px;
  height:16px;
  font-size:12px;
  color:#5E5E5E;
}
#u1906 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1905_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1907 {
  position:absolute;
  left:605px;
  top:593px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u1908 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1907_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1909 {
  position:absolute;
  left:921px;
  top:524px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#5E5E5E;
}
#u1910 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1909_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1911 {
  position:absolute;
  left:921px;
  top:558px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#5E5E5E;
}
#u1912 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1911_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1913 {
  position:absolute;
  left:632px;
  top:174px;
  width:0px;
  height:0px;
}
#u1913_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1913_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:28px;
  height:8px;
}
#u1913_seg2 {
  position:absolute;
  left:16px;
  top:6px;
  width:8px;
  height:323px;
}
#u1914 {
  position:absolute;
  left:-30px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915 {
  position:absolute;
  left:875px;
  top:174px;
  width:0px;
  height:0px;
}
#u1915_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1915_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:38px;
  height:8px;
}
#u1915_seg2 {
  position:absolute;
  left:26px;
  top:6px;
  width:8px;
  height:317px;
}
#u1915_seg3 {
  position:absolute;
  left:26px;
  top:315px;
  width:75px;
  height:8px;
}
#u1915_seg4 {
  position:absolute;
  left:93px;
  top:315px;
  width:8px;
  height:14px;
}
#u1916 {
  position:absolute;
  left:-20px;
  top:175px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 1);
  color:#5E5E5E;
}
#u1917 {
  position:absolute;
  left:743px;
  top:503px;
  width:146px;
  height:133px;
  color:#5E5E5E;
}
#u1918 {
  position:absolute;
  left:2px;
  top:58px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919 {
  position:absolute;
  left:769px;
  top:524px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#5E5E5E;
}
#u1920 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1921 {
  position:absolute;
  left:769px;
  top:558px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#5E5E5E;
}
#u1922 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1921_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1923 {
  position:absolute;
  left:769px;
  top:593px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#5E5E5E;
}
#u1924 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1923_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1925 {
  position:absolute;
  left:761px;
  top:162px;
  width:14px;
  height:12px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927 {
  position:absolute;
  left:768px;
  top:174px;
  width:0px;
  height:0px;
}
#u1927_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1927_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:44px;
  height:8px;
}
#u1927_seg2 {
  position:absolute;
  left:32px;
  top:6px;
  width:8px;
  height:314px;
}
#u1927_seg3 {
  position:absolute;
  left:32px;
  top:312px;
  width:20px;
  height:8px;
}
#u1927_seg4 {
  position:absolute;
  left:44px;
  top:312px;
  width:8px;
  height:17px;
}
#u1928 {
  position:absolute;
  left:-14px;
  top:145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:1260px;
  top:72px;
  width:110px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:2px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
  -webkit-box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
  box-shadow:0px 0px 5px rgba(242, 242, 242, 1);
}
#u1931 {
  position:absolute;
  left:1456px;
  top:57px;
  width:390px;
  height:311px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:148px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1933 {
  position:absolute;
  left:1501px;
  top:122px;
  width:300px;
  height:164px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
  line-height:26px;
}
#u1935 {
  position:absolute;
  left:1515px;
  top:132px;
  width:274px;
  height:78px;
  font-size:12px;
  color:#868686;
  line-height:26px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:1676px;
  top:306px;
  width:98px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:1530px;
  top:306px;
  width:98px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1940 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1941 {
  position:absolute;
  left:1810px;
  top:72px;
  width:15px;
  height:15px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:164px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  position:absolute;
  left:1795px;
  top:122px;
  width:5px;
  height:164px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:74px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:70px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:1795px;
  top:123px;
  width:5px;
  height:70px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:2px;
}
#u1947 {
  position:absolute;
  left:1456px;
  top:99px;
  width:390px;
  height:1px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u1949 {
  position:absolute;
  left:1471px;
  top:70px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:1370px;
  top:86px;
  width:0px;
  height:0px;
}
#u1951_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1951_seg1 {
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:135px;
}
#u1951_seg2 {
  position:absolute;
  left:66px;
  top:123px;
  width:20px;
  height:8px;
}
#u1952 {
  position:absolute;
  left:20px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
