body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1056px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1056px;
}
#u886 {
  position:absolute;
  left:2px;
  top:520px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:57px;
  background:inherit;
  background-color:rgba(246, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:208px;
  top:57px;
  width:1186px;
  height:57px;
}
#u888 {
  position:absolute;
  left:2px;
  top:20px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#C1CFD7;
}
#u889 {
  position:absolute;
  left:50px;
  top:13px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#C1CFD7;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(17, 30, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u891 {
  position:absolute;
  left:0px;
  top:294px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u892 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u893 {
  position:absolute;
  left:0px;
  top:384px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u894 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u895 {
  position:absolute;
  left:0px;
  top:339px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u896 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u897 {
  position:absolute;
  left:0px;
  top:204px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u898 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u899 {
  position:absolute;
  left:0px;
  top:159px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u900 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u901 {
  position:absolute;
  left:0px;
  top:114px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u902 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u903 {
  position:absolute;
  left:0px;
  top:69px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u904 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
  -webkit-box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
  box-shadow:2px 2px 7px rgba(228, 228, 228, 1);
}
#u905 {
  position:absolute;
  left:208px;
  top:0px;
  width:1186px;
  height:57px;
}
#u906 {
  position:absolute;
  left:2px;
  top:20px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 43, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u907 {
  position:absolute;
  left:0px;
  top:250px;
  width:208px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6A8493;
  text-align:left;
}
#u908 {
  position:absolute;
  left:60px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
