body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:227px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u467 {
  position:absolute;
  left:49px;
  top:38px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u468 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u469 {
  position:absolute;
  left:65px;
  top:42px;
  width:20px;
  height:20px;
}
#u470 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u472 {
  position:absolute;
  left:148px;
  top:38px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u473 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u474 {
  position:absolute;
  left:167px;
  top:46px;
  width:12px;
  height:12px;
}
#u475 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u477 {
  position:absolute;
  left:49px;
  top:81px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u479 {
  position:absolute;
  left:65px;
  top:85px;
  width:20px;
  height:20px;
}
#u480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(86, 146, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(86, 146, 240, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:148px;
  top:81px;
  width:79px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:20px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u484 {
  position:absolute;
  left:167px;
  top:89px;
  width:12px;
  height:12px;
}
#u485 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
